/* Style de base */
.root {
    -fx-background-color: #F5F5F5;
    -fx-font-family: 'Arial';
}

.pane {
    -fx-background-color: #A8D8FF;
    -fx-min-width: 200px;
    -fx-transition: all 0.3s ease;
}
.text-blue {
    -fx-fill: #A8D8FF;
}

.form-container {
    -fx-padding: 20px;
    -fx-max-width: 400px;
}

.textfield, .passwordfield {
    -fx-background-color: transparent;
    -fx-border-color: #555555;
    -fx-border-width: 0 0 1 0;
    -fx-font-size: 14px;
    -fx-min-width: 250px;
    -fx-max-width: 400px;
    -fx-padding: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 2, 0,0,1);
    -fx-transition: all 0.3s ease;
}

.textfield:focused, .passwordfield:focused {
    -fx-border-color: #FFA500;
    -fx-border-width: 0 0 1px 0;
    -fx-effect: dropshadow(three-pass-box, rgba(168, 216, 255, 0.7), 5, 0,0,2);
}

.btn_signin {
    -fx-background-color: #FFA500;
    -fx-border-color: #353A56;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-min-width: 150px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0,0,2);
    -fx-transition: all 0.3s ease;
}

.btn_signup {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #353A56;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-text-fill: #353A56;
    -fx-font-size: 14px;
    -fx-min-width: 150px;
    -fx-pref-height: 40px;
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 5, 0,0,2);
    -fx-transition: all 0.3s ease;
}

.btn_signin:hover, .btn_signup:hover {
    -fx-background-color: #FFA500;
    -fx-border-color: #1D2540;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btn_signin:pressed, .btn_signup:pressed {
    -fx-background-color: #FFA500;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

/* Responsive Design */
@media (max-width: 600px) {
    .pane {
        -fx-max-width: 0px;
        -fx-min-width: 0px;
        -fx-pref-width: 0px;
    }

    .form-container {
        -fx-max-width: 300px;
        -fx-padding: 10px;
    }

    .textfield, .passwordfield {
        -fx-max-width: 250px;
        -fx-font-size: 13px;
    }

    .btn_signin, .btn_signup {
        -fx-min-width: 120px;
        -fx-font-size: 13px;
    }

    .welcomeText {
        -fx-font-size: 22px;
    }
}

@media (max-height: 500px) {
    .form-container {
        -fx-spacing: 5px;
        -fx-padding: 5px;
    }

    .textfield, .passwordfield {
        -fx-pref-height: 35px;
    }

    .btn_signin, .btn_signup {
        -fx-pref-height: 35px;
    }
}