.card {
    -fx-background-color: #ADE2EE;
    -fx-border-color: #CCCCCC;
    -fx-border-width: 1;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 5, 5, 0, 0);
}

.card:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 10, 0, 0);
}

.button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #45a049;
}